body{
  margin-top: 0;
  overflow: hidden;
}

main{
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

#onOffBtn img{
  width: 100%;
}

#onOffBtn{  
  width: 3.5em;
  height: 3.5em;
  border-radius: 25%;
  border: none;
  background-color: gainsboro;
  transition: 0.1s;
  box-shadow: 2px 2px 4px 1px rgba(10, 10, 10, 0.5);
  cursor: pointer;
}

#onOffBtn:active{
  width: 3.25em;
  height: 3.25em;
  margin: 0.25em;
  transition: 0.1s;
  background-color: rgb(240, 240, 240);
  
}
#onOffBtn:focus{
  outline: none;
}

.lampada{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin-top: 0;
}

.lampada li{
  list-style: none;
  background-color: darkblue;
  width: 40px;
  height: 40px;
  margin: 0.5em;
  margin-top: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 139, 0.5);
  animation-play-state: paused;
}

.lampada li:nth-child(5n+1){
  background-color: crimson;
  box-shadow: 0 0 10px 2px rgba(220, 20, 60, 0.5);
}
.lampada li:nth-child(5n+2){
  background-color: orangered;
  box-shadow: 0 0 10px 2px rgba(255, 69, 0, 0.5);
}
.lampada li:nth-child(5n+3){
  background-color: orange;
  box-shadow: 0 0 10px 2px rgba(255, 165, 0, 0.5);
}
.lampada li:nth-child(5n+4){
  background-color: green;
  box-shadow: 0 0 10px 2px rgba(0, 128, 0, 0.5);
}


@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.2;background-color:rgba(10, 10, 10, 0.5); box-shadow: none;}
}
.lampada li{
	animation-name: blinker;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
.lampada li:nth-child(even){
	animation-delay: 0.25s;
}